@font-face {
    font-family: Circular;
    src: url(CircularBook.ttf);
}

@font-face {
	font-family: CircularBold;
    src: url(CircularBold.ttf);
}

/*start sticky footer setup*/

*{
	margin: 0;
	padding: 0;
}

html, body, #wrap{
	height:100%;
}

body > #wrap {
	height:100%;
}

#main {
    padding-bottom: 50px;  /* must be same height as the footer */
}

#footer {
    position: relative;
    margin-top: -50px;  /* negative value of footer height */
    height: 50px;
    clear: both;
    background-color: #f2f2f2;
    text-align: right;
} 

/*vertical centering of footer text*/
.foot p{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.5px;
	padding-right: 50px;
} 

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

/*end sticky footer setup*/


.intro {
	background-color: #fff6f1;
	padding: 260px 0 5% 0; 
}

.intro h1 {
	font-family: 'Playfair Display';
	font-size: 64px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.025em;
	color: #2c2bab;
	text-align: center;
}

.intro h1 span {
	font-family: 'CircularBold';
	letter-spacing: 0px;
	font-weight: 400;
	color: #f04306;
}

.intro img {
	width: 60%;
}


.intro h2 {
	font-family: 'Circular';
	font-size: 24px;
	line-height: 1.5;
	color: #2c2bab;
	text-align: center;
	padding-top: 75px;
}

.intro span{
	color: #f04306;
}

.intro p{
	font-family: 'Circular';
	font-size: 18px;
	color: #2c2bab;
	text-align: center;
}

.work {
	position: static;
	background-color: #f2f2f2;
	margin: 0 -15px 0 -15px;
	padding: 10% 0 0 0;
}

.work h1 {
	font-family: 'Playfair Display';
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.025em;
	color: #2c2bab;
	text-align: center;
}

.work h2{
	font-family: 'Circular';
	color: #f04306;
	font-size: 18px;
	text-align: center;
}

.header {
	top: 8vh;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 5% 0 0 0;
}
.header h1 {
	font-family: 'Playfair Display';
	font-size: 4.5em;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	letter-spacing: -0.025em;
	color: #000000;
}

.header h1 span {
	font-size: 0.2em;
	font-style: italic;
	display: block;
	margin: 0 0 0.5em 0em;
	letter-spacing: 0px;
	font-weight: 400;

}

.header h2 {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 0.585em;
	margin: 2em 0;
	white-space: nowrap;
	text-indent: 1em;
	letter-spacing: 0.7em;
	text-transform: uppercase;
	color: #d6483b;
}

.header img{
	width: 100%;
	padding-top: 10%;
	margin-bottom: -5em;
}

.section {
	width: 90%;
	padding: 5% 5% 0 5%;
	text-align: left;
}

.section h1 {
	font-family: 'Playfair Display';
	font-size: 4.5em;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	letter-spacing: -0.025em;
	color: #000000;
}

.section span {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 0.585em;
	margin: 2em 0;
	white-space: nowrap;
	text-indent: 1em;
	letter-spacing: 0.7em;
	text-transform: uppercase;
	color: #d6483b;
}

.section p {
	font-family: 'Playfair Display';
	font-weight: 400;
	font-size: 14px;
	text-align: left;
	padding: 2em 1em 0em 3em;
	color: #000000;
}

.instafeed{
	position: static;
	background-color: #f2f2f2;
	margin: -15px -15px -15px -15px;
	padding: 10% 0 0 0;
}

