@font-face {
    font-family: Circular;
    src: url(CircularBook.ttf);
}

@font-face {
  font-family: CircularBold;
    src: url(CircularBold.ttf);
}

header{
  position: fixed;
  width: 100%;
  text-align: left;
  padding-left: 3%;
  font-size: 24px;
  line-height: 108px;
  height: 108px;
  background-color:rgba(255, 255, 255, 0);
  color: #f04306;
  font-family: 'Playfair Display';
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

header img{
	max-height: 108px
}

header.sticky {
  font-size: 24px;
  line-height: 68px;
  height: 68px;
  background-color:rgba(255, 255, 255, 0.5);
  text-align: left;
}

header.sticky img{
max-height: 68px
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fd7100;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav img{
	max-width: 108px;
}

/* The navigation menu links */
.sidenav a {
	font-family: 'CircularBold';
	letter-spacing: 1px;
    padding: 8px 8px 0px 32px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 32px;
    font-style: bold;
    color: #fff6f1;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    text-decoration-color: red;
    text-decoration: line-through;
    text-decoration-line: 10px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#push {
    transition: margin-left .5s;
    padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}