body{
  background-color: #E6E3D0;
}

@media screen and (min-width:768px)
{
  body{
  overflow: auto;
  } 
}

.leftside{

	height:auto;
	width:100%;
	color:#000000;
}

.rightside {
	height:auto;
	width:100%;
	color:#000000;
}

@media screen and (min-width:768px)
{
	.leftside, .rightside {
		height:100vh;
  }

  .menu{
   border-left: 2px solid black;
  }
}


.header{
  font-family: 'Cousine', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 0.7em;
  line-height: 1.5em;
  letter-spacing: 0.11em;
  color: #000000;
  text-align: left;
  padding: 33px;
  border-top: 1px solid black;
}

.mainbio{
  width: 100%;
  padding: 0 33px 0 33px;
  min-height: 250px;
}

@media screen and (min-width:768px)
{
.mainbio{
  width: 100%;
  padding: 20% 33px 20% 33px;
}
}


.mainbio h1{
  font-family: 'Forum', cursive;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 6vh;
  line-height: 54px;
  color: #000000;
}

.mainbio img{
  height: 54px;
}

.mainfooter{
  margin: auto;
  width: 50%;
  padding: 33px;
  bottom: 0;
  text-align: center;
}

.mainfooter h2{
  font-family: 'Cousine', monospace;
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7em;
  line-height: 1em;
  letter-spacing: 0.11em;
  text-align: center;
}

.mainfooter h5{
  font-family: 'Cousine', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 0.7em;
  line-height: 1em;
  letter-spacing: 0.11em;
}

.mainfooter a{
  color: #000000;
  font-size: 0.7em;
  line-height: 1.5em;
}

.mainfooter i{
  color: #000000;
  letter-spacing:1.1em;
  padding-bottom: 1em;
}

.mainfooter i:hover {
  color: #DA5D3B;
}

.mainfooter hr {
  border-top: 1px solid black;
  width: 66%;
}


.menu-title{
  font-family: 'Forum', cursive;
  text-align: left;
  text-transform: uppercase;
  font-size: 5vh;
  line-height: 1em;
  padding: 33px;
  border-bottom: 2px solid black;
  border-top: 1px solid black;

}

.menu-item{
  font-family: 'Forum', cursive;
  text-align: left;
  font-size: 2em;
  line-height: 2em;
  padding: 0 0 0 33px;
  border-bottom: 1px solid black;

}

.menu-item i{
  font-size: 0.5em;
  padding: 0 10px 0 0;
}

@media screen and (min-width:768px)
{
	.menu-item{
  font-family: 'Forum', cursive;
  text-align: left;
  font-size: 3em;
  line-height: 2em;
  padding: 0 0 0 33px;
  border-bottom: 1px solid black;
}
  
}


.menu-end{
  border-top: 1px solid black;
  padding: 33px;
  font-family: 'Cousine', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.11em;
  color: #000000;
  text-align: left;
}

.nav{
  border-top: 1px solid black;
  border-radius: 0;
  background-color: transparent;
}


input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: auto;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 500px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.content-inner {
  padding: 33px;
}

.content-inner p{
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  line-height: 1em;
}


font-family: 'Forum', cursive;
font-family: 'Cousine', monospace;
font-family: 'Libre Baskerville', serif;